#first {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.header__first, .main__first, .sliderCounter__first, .sliderNumbers__first, .sliderBlock__first {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerButton__first, .navButton__first, .socialButton__first {
  border: 0;
}

.headerButton__first {
  width: 50px;
  height: 50px;
}

.logo__first {
  font-size: 30px;
  background-color: black;
  color: white;
  border-radius: 50%;
}

.logo__first, .headerButton__first, .navButton__first, .sliderNumbers__first > li, .socialButton__first {
  cursor: pointer;
}

.menu__first {
  line-height: 40px;
  font-size: 40px;
  background-color: rgba(222, 184, 135, 0);
}

.pictureBlock__first {
  width: 50%;
}

.sliderCounter__first {
  width: max-content;
  gap: 20px;
  margin-bottom: 20px;
}

.sliderNumbers__first {
  gap: 25px;
  font-weight: bold;
}

.sliderNumbers__first > li {
  user-select: none;
  cursor: pointer;
}

.selected__first {
  text-decoration: underline;
}

.sliderBlockWrapper {
  position: relative;
  overflow: hidden;
}

.borderGradient {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 15vh;
  background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 100%);
}

.sliderBlock__first {
  position: absolute;
  width: max-content;
  transition: 0.5s linear 0s;
  gap: 30px;
  height: 100%;
}

.slider__first {
  width: 400px;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-color: black;
}

.socials__first {
  display: flex;
  align-items: center;
  gap: 20px;
}

.socialButton__first {
  font-size: 20px;
  background-color: rgba(222, 184, 135, 0);
}

@media (min-width: 1200px) {
  #first {
    padding: 50px 200px 50px 200px;
  }

  .siteName__first__mobile {
    display: none;
  }

  .socials__first {
    justify-content: end;
  }

  .textBlock__first {
    width: 50%;
    padding: 0 150px 0 100px;
  }

  .textBlock__first > h1 {
    font-size: 70px;
    margin-bottom: 40px;
  }

  .navButton__first {
    background-color: rgba(222, 184, 135, 0);
    font-size: 16px;
  }

  .sliderBlockWrapper {
    height: 60vh;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  #first {
    padding: 50px 100px 50px 100px;
  }

  .siteName__first__mobile {
    display: none;
  }

  .textBlock__first > h1 {
    font-size: 70px;
    margin-bottom: 40px;
  }

  .navButton__first {
    background-color: rgba(222, 184, 135, 0);
    font-size: 16px;
  }

  .socials__first {
    justify-content: end;
  }

  @media (orientation: portrait) {
    .textBlock__first {
      padding-right: 50px;
    }

    .sliderBlockWrapper {
      height: 65vh;
    }

    .sliderCounter__first {
      font-size: 20px;
    }
  }

  @media (orientation: landscape) {
    .textBlock__first {
      padding-right: 100px;
    }

    .sliderBlockWrapper {
      height: 65vh;
    }

    @media (max-height: 450px) {
      #first {
        padding: 25px 0 25px 0;
        gap: 20px;
      }

      .siteName__first__mobile {
        display: inline;
      }
    
      .header__first, .sliderCounter__first, .socials__first {
        padding: 0 35px 0 35px;
      }
    
      .pictureBlock__first {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
      }
    
      .navButton__first {
        width: 45px;
        height: 45px;
        font-size: 25px;
        background-color: white;
        border-radius: 50%;
        padding: 6px;
      }
  
      .textBlock__first, .sliderNumbers__first, .borderGradient, .socials__first {
        display: none;
      }
  
      .navButton__first {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      }
  
      .sliderCounter__first {
        width: 100%;
        z-index: 1;
        position: absolute;
        margin-bottom: 50px;
      }
  
      .sliderBlockWrapper {
        padding-left: 55px;
        height: 70vh;
      }
  
      .sliderBlock__first {
        align-items: start;
      }
  
      .slider__first {
        width: 77vw;
      }
    }
  }
}

@media (max-width: 640px) {
  #first {
    padding: 25px 0 25px 0;
  }

  .header__first, .sliderCounter__first, .socials__first {
    padding: 0 35px 0 35px;
  }

  .pictureBlock__first {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .navButton__first {
    width: 45px;
    height: 45px;
    font-size: 25px;
    background-color: white;
    border-radius: 50%;
    padding: 6px;
  }

  @media (orientation: portrait) {
    .main__first {
      flex-direction: column;
      align-items: start;
    }

    .textBlock__first, .sliderNumbers__first, .borderGradient {
      display: none;
    }

    .sliderCounter__first {
      width: 100%;
      z-index: 1;
      position: absolute;
      margin-bottom: 50px;
    }

    .sliderBlockWrapper {
      height: 60vh;
    }

    .sliderBlock__first {
      align-items: start;
    }

    .slider__first {
      width: 100vw;
    }

    .socials__first {
      justify-content: center;
    }
  }

  @media (orientation: landscape) {
    #first {
      gap: 20px;
    }

    .textBlock__first, .sliderNumbers__first, .borderGradient, .socials__first {
      display: none;
    }

    .navButton__first {
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    }

    .sliderCounter__first {
      width: 100%;
      z-index: 1;
      position: absolute;
      margin-bottom: 50px;
    }

    .sliderBlockWrapper {
      padding-left: 55px;
      height: 70vh;
    }

    .sliderBlock__first {
      align-items: start;
    }

    .slider__first {
      width: 77vw;
    }
  }
}