#third {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.header__third, .menu__third, .main__third, .socials__third, .footer__third {
  display: flex;
  justify-content: space-between;
}

.header__third, .menu__third, .main__third {
  align-items: center;
}

.siteName__third, .menuOption__third, .socialButton__third, .navButton__third {
  cursor: pointer;
}

.menu__third {
  text-transform: uppercase;
}

.menuOption__third:hover {
  text-decoration: underline;
}

.leftBorder {
  background-color: black;
}

.leftBorder {
  width: 1px;
  height: 80%;
}

.sliderCircle {
  border-radius: 50%;
}

.sliderBlock__third {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
}

.slider__third {
  height: 100%;
  position: relative;
}

.slider__third > p, .slider__third > h2 {
  width: 35%;
  position: absolute;
  margin: 0;
  text-shadow: -2px 0 rgb(255, 255, 255), 0 2px rgb(255, 255, 255), 2px 0 rgb(255, 255, 255), 0 -2px rgb(255, 255, 255);
}

.slider__third > p {
  font-weight: bold;
  font-size: 2.5vh;
}

.slider__third > h2 {
  width: max-content;
  font-weight: 400;
  font-size: 14vh;
}

.sliderImage {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  height: 100%;
  transition: background 0.5s linear;
}

.bottomBorder {
  position: absolute;
  bottom: 0;
  height: 35vh;
  width: 100%;
  background: linear-gradient(0deg, white 55%, rgba(255, 255, 255, 0) 100%);
}

.socials__third {
  flex-direction: column;
  gap: 20px;
}

.socialButton__third, .navButton__third {
  border-radius: 50%;
}

.socialButton__third {
  background-color: black;
  color: white;
  border: 0;
}

.footer__third {
  position: absolute;
  align-items: end;
  bottom: 5vh;
}

.navArrows__third {
  display: flex;
  gap: 30px;
}

.navButton__third {
  border: 2px solid darkgrey;
  background-color: rgba(255, 255, 255, 0);
  color: darkgrey;
}

@media (min-width: 1200px) {
  #third {
    padding: 0px 150px 0 150px;
  }

  .header__third {
    padding-top: 90px;
  }

  .menu__third {
    gap: 40px;
  }

  .main__third {
    margin-top: 90px;
    height: 500px;
  }

  .socialButton__third, .navButton__third {
    height: 50px;
    width: 50px;
    font-size: 22px;
  }

  .sliderBlock__third {
    width: 900px;
    height: 80vh;
    right: 50px;
  }

  .sliderCircle {
    width: 500px;
    height: 500px;
  }

  .slider__third > p {
    bottom: 40%;
    left: 5%;
  }
  
  .slider__third > h2 {
    top: 5%;
    right: 10%;
  }

  .sliderImage {
    width: 80%;
  }

  .bottomBorder {
    background: linear-gradient(0deg, white 25%, rgba(255, 255, 255, 0) 100%);
  }

  .siteDesk__third {
    width: 20%;
    font-size: 16px;
  }

  .footer__third {
    width: calc(100% - 300px);
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  @media (orientation: portrait) {
    #third {
      padding: 0px 60px 0 60px;
    }

    .header__third {
      padding-top: 70px;
    }

    .menu__third {
      gap: 20px;
    }

    .main__third {
      margin-top: 120px;
      height: 500px;
    }

    .socialButton__third, .navButton__third {
      height: 37px;
      width: 37px;
      font-size: 20px;
    }

    .leftBorder {
      opacity: 0;
    }

    .sliderBlock__third {
      width: 100%;
      height: 95vh;
      right: 37px;
    }

    .sliderCircle {
      width: 450px;
      height: 450px;
    }

    .slider__third > p {
      top: 13%;
      left: 10%;
    }
    
    .slider__third > h2 {
      bottom: 18%;
      right: 14%;
    }

    .sliderImage {
      width: 65%;
    }

    .bottomBorder {
      background: linear-gradient(0deg, white 55%, rgba(255, 255, 255, 0) 100%);
    }

    .siteDesk__third {
      width: 50%;
      margin: 0;
      font-size: 16px;
    }

    .footer__third {
      width: calc(100% - 120px);
    }
  }

  @media (orientation: landscape) {
    #third {
      padding: 0px 120px 0 120px;
    }

    .header__third {
      padding-top: 60px;
    }

    .menu__third {
      gap: 40px;
    }

    .main__third {
      margin-top: 90px;
      height: 400px;
    }

    .socialButton__third, .navButton__third {
      height: 40px;
      width: 40px;
      font-size: 22px;
    }

    .sliderBlock__third {
      width: 700px;
      height: 75vh;
      right: 40px;
    }

    .sliderCircle {
      width: 450px;
      height: 450px;
    }

    .slider__third > p {
      bottom: 45%;
      left: 7%;
    }
    
    .slider__third > h2 {
      top: 5%;
      right: 7%;
    }

    .siteDesk__third {
      width: 30%;
      font-size: 14px;
    }

    .sliderImage {
      width: 70%;
    }

    .bottomBorder {
      background: linear-gradient(0deg, white 25%, rgba(255, 255, 255, 0) 100%);
    }

    .footer__third {
      width: calc(100% - 240px);
    }

    @media (max-height: 450px) {
      #third {
        padding: 0px 60px 0 60px;
      }

      .header__third {
        padding-top: 30px;
      }

      .siteName__third {
        font-size: 22px;
      }

      .menu__third {
        gap: 20px;
        font-size: 16px;
      }

      .main__third {
        margin-top: 20px;
        justify-content: center;
        align-items: start;
      }

      .sliderCircle {
        width: 250px;
        height: 250px;
      }

      .leftBorder, .socials__third, .siteDesk__third {
        display: none;
      }

      .bottomBorder {
        background: linear-gradient(0deg, white 15%, rgba(255, 255, 255, 0) 100%);
      }

      .slider__third > h2 {
        top: 5%;
        right: 22%;
      }

      .slider__third > p {
        font-size: 4vh;
        left: 15%;
        width: 30%;
      }
  
      .siteDesk__third {
        width: 30%;
        font-size: 14px;
      }

      .footer__third {
        width: calc(100% - 120px);
      }

      .navArrows__third {
        width: 100%;
        justify-content: space-between;
      }
    }
  }  
}

@media (max-width: 640px) {
  #third {
    padding: 0px 60px 0 60px;
  }

  .header__third {
    padding-top: 70px;
  }

  .menu__third {
    gap: 20px;
  }

  .main__third {
    margin-top: 120px;
    justify-content: center;
    align-items: start;
  }

  .socialButton__third, .navButton__third {
    height: 37px;
    width: 37px;
    font-size: 20px;
  }

  .leftBorder {
    opacity: 0;
  }

  .sliderBlock__third {
    width: 100%;
    height: 80vh;
    right: 37px;
  }

  .sliderCircle {
    width: 250px;
    height: 250px;
  }

  .leftBorder, .socials__third, .siteDesk__third, .menu__third {
    display: none;
  }

  .slider__third > p {
    top: 13%;
    left: 10%;
  }
  
  .slider__third > h2 {
    bottom: 18%;
    right: 14%;
  }

  .sliderImage {
    width: 80%;
  }

  .siteDesk__third {
    width: 30%;
    font-size: 14px;
  }

  .footer__third {
    width: calc(100% - 120px);
  }

  .navArrows__third {
    width: 100%;
    justify-content: space-between;
  }

  @media (orientation: portrait) {
    #third {
      padding: 20px 30px 20px 30px;
    }

    .header__third {
      padding-top: 15px;
    }

    .siteName__third {
      font-size: 26px;
    }

    .main__third {
      margin-top: 150px;
    }

    .bottomBorder {
      background: linear-gradient(0deg, white 55%, rgba(255, 255, 255, 0) 100%);
    }

    .slider__third > h2 {
      top: 50%;
      right: 22%;
    }

    .slider__third > p {
      font-size: 2.5vh;
      left: 15%;
      top: 0;
      width: 30%;
    }

    .footer__third {
      width: calc(100% - 60px);
    }
  }

  @media (orientation: landscape) {
    #third {
      padding: 0px 60px 0 60px;
    }

    .header__third {
      padding-top: 30px;
    }

    .siteName__third {
      font-size: 22px;
    }

    .main__third {
      margin-top: 20px;
    }

    .sliderBlock__third {
      height: 75vh;
    }

    .bottomBorder {
      background: linear-gradient(0deg, white 15%, rgba(255, 255, 255, 0) 100%);
    }

    .slider__third > h2 {
      top: 45%;
      right: 22%;
    }

    .slider__third > p {
      font-size: 4vh;
      top: 5%;
      left: 15%;
      width: 30%;
    }

    .footer__third {
      width: calc(100% - 120px);
    }
  }
}