#fourth {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: space-between;
  gap: 40px;
}

.textWrapper, .sliderCounter__fourth, .sliderBlock__fourth, .sliderNumbers__fourth, .sliderNumbers__fourth > li {
  display: flex;
  flex-direction: column;
}

.textWrapper {
  justify-content: space-between;
}

.header__fourth, .menu__fourth, .socials__fourth {
  display: flex;
  align-items: center;
  gap: 20%;
}

.headerButton__fourth {
  width: 50px;
  height: 50px;
  border: 0;
  flex-shrink: 0;
}

.logo__fourth {
  font-size: 30px;
  background-color: black;
  color: white;
  border-radius: 50%;
}

.siteName__fourth__mobile {
  display: none;
}

.menu__fourth {
  justify-content: end;
}

.main__fourth {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__fourth, .socials__fourth, .sliderCounter__fourth {
  gap: 20px;
}

.menuOption__fourth, .socialButton__fourth, .navButton__fourth, .sliderNumbers__fourth > li {
  cursor: pointer;
}

.textBlock__fourth {
  width: 70%;
}

.socialButton__fourth {
  font-size: 20px;
  background-color: rgba(222, 184, 135, 0);
  border: 0;
}

.pictureBlock__fourth {
  display: flex;
}

.sliderCounter__fourth {
  align-items: center;
  align-self: center;
}

.navButton__fourth {
  border: 0;
  background-color: rgba(222, 184, 135, 0);
  font-size: 16px;
}

.sliderNumbers__fourth {
  gap: 10px;
  font-weight: bold;
}

.sliderNumbers__fourth > li {
  height: 35px;
  width: 35px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  user-select: none;
  cursor: pointer;
}

.selected__fourth {
  background-color: black;
  color: white;
}

.sliderBlock__fourth {
  height: max-content;
  transition: 0.5s linear 0s;
}

.slider__fourth {
  background-position: center;
  background-size: cover;
  background-color: black;
  aspect-ratio: 1 / 1;
}

@media (min-width: 1200px) {
  #fourth {
    padding: 50px 250px 50px 250px;
  }

  .textBlock__fourth > h1 {
    font-size: 60px;
    margin-bottom: 40px;
  }

  .sliderBlock__fourth {
    margin-top: -350px;
    gap: 30px;
  }

  .slider__fourth {
    width: 30vw;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  @media (orientation: portrait) {
    #fourth {
      padding: 50px 70px 50px 70px;
    }

    .textBlock__fourth > h1 {
      font-size: 50px;
      margin-bottom: 30px;
    }

    .textBlock__fourth > p {
      font-size: 18px;
    }

    .menu__fourth {
      display: none;
    }

    .sliderBlock__fourth {
      margin-top: -150px;
      gap: 20px;
    }

    .slider__fourth {
      width: 30vw;
    }
  }

  @media (orientation: landscape) {
    #fourth {
      padding: 50px 100px 50px 100px;
    }

    .menu__fourth {
      font-size: 16px;
    }

    .textBlock__fourth > h1 {
      font-size: 60px;
      margin-bottom: 40px;
    }

    .sliderBlock__fourth {
      margin-top: -150px;
      gap: 20px;
    }

    .slider__fourth {
      width: 30vw;
    }

    @media (max-height: 450px) {
      #fourth {
        padding: 50px;
      }

      .header__fourth {
        margin-bottom: 20px;
      }

      .headerButton__fourth {
        width: 30px;
        height: 30px;
        font-size: 18px;
      }
  
      .menu__fourth, .socials__fourth {
        display: none;
      }

      .textBlock__fourth {
        width: 100%;
      }
  
      .textBlock__fourth > h1 {
        font-size: 45px;
        margin-bottom: 20px;
      }

      .textBlock__fourth > p {
        font-size: 16px;
      }
    }
  }  
}

@media (max-width: 640px) {
  .siteName__fourth__mobile {
    display: inline;
  }

  .menu__fourth, .socials__fourth, .siteName__fourth {
    display: none;
  }

  .sliderNumbers__fourth > li {
    height: 25px;
    width: 25px;
  }

  .textBlock__fourth {
    width: 100%;
  }

  .sliderNumbers__fourth > li, .textBlock__fourth > p {
    font-size: 14px;
  }

  @media (orientation: portrait) {
    #fourth {
      padding: 0;
      flex-direction: column;
      gap: 2vh;
    }

    .textWrapper {
      padding: 30px 30px 0 30px;
    }

    .sliderCounter__fourth, .sliderNumbers__fourth {
      flex-direction: row;
    }

    .textBlock__fourth {
      margin-top: 20px;
    }

    .textBlock__fourth > p {
      font-size: 2.3vh;
    }

    .sliderBlock__fourth {
      margin-left: -15px;
      flex-direction: row;
      gap: 15px;
    }

    .slider__fourth {
      height: 60vh;
    }
  }

  @media (orientation: landscape) {
    #fourth {
      padding: 30px;
      gap: 10px;
    }

    .header__fourth {
      margin-bottom: 20px;
    }

    .headerButton__fourth {
      width: 30px;
      height: 30px;
      font-size: 18px;
    }

    .textWrapper {
      width: 40vw;
    }

    .sliderBlock__fourth {
      margin-top: -150px;
      gap: 20px;
    }

    .slider__fourth {
      width: 30vw;
    }
  }
}